<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.newcomers.prj.item.mapper.ItemMapper">

	<select id="itemSelect" resultType="co.newcomers.prj.item.vo.ItemDetailVO">
		SELECT ITEM.ITEM_PRICE, DETAIL_ITEM.ITEM_CODE, DETAIL_ITEM.ITEM_TITLE, DETAIL_ITEM.ITEM_CONTENT, DETAIL_ITEM.ITEM_IMAGE1 AS ITEM_IMAGE 
		FROM DETAIL_ITEM, ITEM
		WHERE DETAIL_ITEM.ITEM_CODE = ITEM.ITEM_CODE
		AND DETAIL_ITEM.ITEM_CODE = 1
	</select>

	<insert id="itemInsert" parameterType="co.newcomers.prj.item.vo.ItemVO">
		INSERT INTO ITEM
		VALUES(item_seq.nextval, #{itemCategory}, #{itemName}, #{itemPrice}, #{itemId})
	</insert>
	
	<select id="reviewSelect" resultType="co.newcomers.prj.item.vo.ReviewVO">
		SELECT  REVIEW.REVIEW_WRITER, REVIEW.REVIEW_CONTENT, REVIEW.REVIEW_DATE, REVIEW.REVIEW_CODE, REVIEW.REVIEW_STAR
		FROM REVIEW, ITEM
		WHERE REVIEW.REVIEW_CODE = ITEM.ITEM_CODE
		AND	REVIEW.REVIEW_CODE = 1
	</select>

	<insert id="reviewInsert" parameterType="co.newcomers.prj.item.vo.ReviewVO">
		INSERT INTO REVIEW
		VALUES(review_seq.nextval, item_seq.nextval, #{reviewWriter}, #{reviewContent}, #{reviewStar}, sysdate)
	</insert>
	<!-- 왜안돼 -->

</mapper>	